@model IEnumerable<IW7PP.Models.ProsthesisM.Socket>

@{
    ViewData["Title"] = "Administración de sockets protésicos";
}

<h1 class="text-center my-4">Administración de sockets protésicos</h1>
<div class="container mb-5 pb-5">
    <div class="row mb-3">
        <div class="col-sm-3 offset-sm-9">
            <a asp-action="CreateSocket" asp-controller="Socket" class="btn btn-primary w-100">Crear Nuevo Socket</a>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Lista de sockets</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered table-striped" id="tablaRoles" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Durabilidad en meses</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                    <td>@Html.DisplayFor(m => item.Description)</td>
                                    <td>@Html.DisplayFor(m => item.Durability)</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" asp-controller="Socket" asp-action="EditSocket" asp-route-id="@item.Id">Editar</a>
                                        <form asp-action="DeleteSocket" asp-controller="Socket" asp-route-id="@item.Id" class="d-inline-block" method="post">
                                            <button type="submit" onclick="return confirm('¿Está seguro de borrar este registro?')" class="btn btn-sm btn-danger">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="text-center">No hay registros</p>
                }
            </div>
            <!-- Adding buttons below the table -->
            <div class="mt-4 d-flex flex-wrap justify-content-between">
                <div class="col">
                    <a asp-action="FeetView" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Feets</a>
                </div>
                <div class="col">
                    <a asp-action="KneeArticulateView" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Knees </a>
                </div>
                <div class="col">
                    <a asp-action="LinerView" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Liners</a>
                </div>
                <div class="col">
                    <a asp-action="Index" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Prosthesis</a>
                </div>
                <div class="col">
                    <a asp-action="TubesView" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Tubes</a>
                </div>
                <div class="col">
                    <a asp-action="UnionSocketsView" asp-controller="Prosthesis" class="btn btn-secondary w-100 mx-2">Union Sockets</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaRoles').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
